django==1.7
django-allauth==0.17.0
#django-crispy-forms==1.4.0
git+https://github.com/maraujop/django-crispy-forms@dev#egg=django-crispy-forms
django-environ==0.3.0
django-sekizai==0.7
psycopg2==2.5.3
CommonMark==0.5.3
django-extensions==1.3.11
#django-taggit==0.12.1
git+https://github.com/alex/django-taggit@develop#egg=taggit
icalendar==3.8.3
