{% extends 'events/base.html' %}
{% load staticfiles sekizai_tags crispy_forms_tags %}

{% block content %}

  <a href="
  {% if event %}
  {% url 'events:detail' event.slug %}
  {% else %}
  {% url 'events:list' %}
  {% endif %}
  " class="btn btn-default">Back</a>

  <hr />

  {% crispy form %}

{% addtoblock 'css' %}
  <link rel="stylesheet" href="{% static 'css/../../../core/static/css/bootstrap-datetimepicker.min.css' %}"
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script src="{% static 'js/../../../core/static/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script>
    $('#id_datetime').datetimepicker(
      {format: 'yyyy-mm-dd hh:ii'}
    );
  </script>
{% endaddtoblock %}

{% endblock %}
