{% extends 'events/base.html' %}
{% load staticfiles sekizai_tags crispy_forms_tags %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <a href="
        {% if event %}
        {% url 'events:detail' event.slug %}
        {% else %}
        {% url 'events:list' %}
        {% endif %}
        " class="btn btn-default pull-right">
          <i class="fa fa-arrow-circle-left"></i> Back
        </a>
         <h2>
           {% if action == 'new' %}
              Create new event
           {% else %}
              Update event: "{{ event.title }}"
           {% endif %}
         </h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% crispy form %}
    </div>
  </div>

{% addtoblock 'css' %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script src="{% static 'js/moment-with-locales.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script>
    $('#id_start').datetimepicker(
      {
        format: 'YYYY-MM-DD HH:mm'
      }
    );
    $('#id_end').datetimepicker(
      {
        format: 'YYYY-MM-DD HH:mm'
      }
    );
  </script>
{% endaddtoblock %}

{% endblock %}
