{% extends 'base.html' %}
{% load i18n staticfiles sekizai_tags account socialaccount %}

{% block base_content %}
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{% trans "Login" %}</h1>
      <p>{% trans 'Use one of the methods below to login' %}</p>

      <a href="{% provider_login_url 'github'%}" class="btn btn-lg btn-primary">
        <i class="fa fa-github" style="font-size: 18px"></i> Github
      </a>

      <a href="{% provider_login_url 'facebook'%}" class="btn btn-lg btn-primary">
        <i class="fa fa-facebook" style="font-size: 18px"></i> Facebook
      </a>
    </div>
  </div>
{% endblock %}
