{% if posts %}

<table class="table table-striped table-hover">

  <thead>
  <tr>
    <th>Titel</th>
    <th>Blog</th>
    <th>Skrevet</th>
  </tr>
  </thead>

  <tbody>
  {% for post in posts %}
    <tr>
      <td>
        <a href="{% url 'blogs:post-detail' post.blog.slug post.slug %}">{{ post.title }}</a>
      </td>
      <td>
        <a href="{% url 'blogs:blog-detail' post.blog.slug %}"> {{ post.blog }} </a>
      </td>
      <td>
        {{ post.created_at }}
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% else %}
    Der er ingen blogindlæg.
{% endif %}
