{% if posts %}

<table class="table table-striped table-hover">

  <thead>
  <tr>
    <th><h3>Titel</h3></th>
    <th><h3>Blog</h3></th>
    <th><h3>Skrevet</h3></th>
  </tr>
  </thead>

  <tbody>
  {% for post in posts %}
    <tr>
      <td><h4>
        <a href="{% url 'blogs:post-detail' post.blog.slug post.slug %}">{{ post.title }}</a></h4>
      </td>
      <td><h4>
        <a href="{% url 'blogs:blog-detail' post.blog.slug %}"> {{ post.blog }} </a>
      </h4></td>
      <td><h4>
        {{ post.created_at }}
      </h4></td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% else %}
    Der er ingen blogindlæg.
{% endif %}
